<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>LOCATION</h3>
        <h4>2215 John Daniel Drive</h4>
        <span>Clark, MO 65243</span>
      </div>

      <div class="col-md-4">
        <h3>AROUND THE WEB</h3>
        <ul class="social-links">
          <li><a class="fab fa-facebook"></a></li>
          <li><a class="fab fa-twitter"></a></li>
          <li><a class="fab fa-google-plus"></a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
</section>
<footer>
  <p>&copy; Your Website 2021</p>
</footer>
