<section>
    <div
      class="container d-flex flex-column justify-content-center align-items-center mx-auto"
    >
      <div class="header d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-uppercase">about component</h1>
        <div class="divider">
          <span class="star"><i class="fas fa-star"></i></span>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-6">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
    </div>
  </section>
