<section>
  <div
    class="container d-flex flex-column justify-content-center align-items-center mx-auto"
  >
    <div class="w-25">
      <img src="images/avataaars.svg" alt="" />
    </div>
    <div class="header d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-uppercase pt-3 ">start Framework</h1>
      <div class="divider">
        <span class="star"><i class="fas fa-star"></i></span>
      </div>
      <div class="text-center pt-3 "
        >Graphic Artist - Web Designer - Illustrator</div
      >
    </div>
  </div>
</section>
